In [1]:
import pandas as pd
dt = pd.read_csv('ML-Dataset.csv')

In [3]:
dt

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Tommy Bailey,tommy.bailey@example.com,5151234567,...,Shyla Ortiz,"Walpurgisstr 69, Munich",2400,shyla.ortiz@abbvie.com,13171234126,Pending,15-Oct-17,128,849.99,124
4,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Blake Cooper,blake.cooper@example.com,5151234569,...,Jeni Levy,"Via Frenzy 6903, Roma",1200,jeni.levy@centene.com,18121214129,Shipped,09-Apr-17,106,109.99,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Veera Abdellah,VeeraAbdellah@gmail.com,8788092231,...,Vega Vincent,4284 Dorigo Ln,4900,VegaVincent@gmail.com,787879874,Shipped,27-Sep-17,32,725.99,107
396,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Vega Vincent,VegaVincent@gmail.com,6700989921,...,Villanueva Noah,6794 Lake Dr E,5000,VillanuevaNoah@gmail.com,785811219,Pending,16-Aug-16,66,798.26,118
397,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Villanueva Noah,VillanuevaNoah@gmail.com,7890991231,...,Voldemort Lord,31 Douglas Blvd #950,4000,VoldemortLord@gmail.com,789243757,Canceled,27-May-16,82,849.99,118
398,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Zima Colleen,ZimaColleen@gmail.com,8690991436,...,Lucy Cechtelar,44 W 4th St,3000,LucyCechtelar@gmail.com,964940981,Shipped,27-May-17,157,821.99,95
399,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Volk Colleen,VolkCollen@gmail.com,9426826971,...,John Snow,11279 Loytan St,2000,JohnSnow@gmail.com,567897474,Canceled,27-May-17,32,579.59,92

In [4]:
dt.head(n=5)

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Tommy Bailey,tommy.bailey@example.com,5151234567,...,Shyla Ortiz,"Walpurgisstr 69, Munich",2400,shyla.ortiz@abbvie.com,13171234126,Pending,15-Oct-17,128,849.99,124
4,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Blake Cooper,blake.cooper@example.com,5151234569,...,Jeni Levy,"Via Frenzy 6903, Roma",1200,jeni.levy@centene.com,18121214129,Shipped,09-Apr-17,106,109.99,125

In [5]:
dt.tail(n=5)

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
395,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Veera Abdellah,VeeraAbdellah@gmail.com,8788092231,...,Vega Vincent,4284 Dorigo Ln,4900,VegaVincent@gmail.com,787879874,Shipped,27-Sep-17,32,725.99,107
396,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Vega Vincent,VegaVincent@gmail.com,6700989921,...,Villanueva Noah,6794 Lake Dr E,5000,VillanuevaNoah@gmail.com,785811219,Pending,16-Aug-16,66,798.26,118
397,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Villanueva Noah,VillanuevaNoah@gmail.com,7890991231,...,Voldemort Lord,31 Douglas Blvd #950,4000,VoldemortLord@gmail.com,789243757,Canceled,27-May-16,82,849.99,118
398,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Zima Colleen,ZimaColleen@gmail.com,8690991436,...,Lucy Cechtelar,44 W 4th St,3000,LucyCechtelar@gmail.com,964940981,Shipped,27-May-17,157,821.99,95
399,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Volk Colleen,VolkCollen@gmail.com,9426826971,...,John Snow,11279 Loytan St,2000,JohnSnow@gmail.com,567897474,Canceled,27-May-17,32,579.59,92

In [6]:
dt.index

RangeIndex(start=0, stop=400, step=1)

In [7]:
dt.columns

Index(['RegionName', 'CountryName', 'State', 'City', 'PostalCode',
       'WarehouseAddress', 'WarehouseName', 'EmployeeName', 'EmployeeEmail',
       'EmployeePhone', 'EmployeeHireDate', 'EmployeeJobTitle', 'CategoryName',
       'ProductName', 'ProductDescription', 'ProductStandardCost', 'Profit',
       'ProductListPrice', 'CustomerName', 'CustomerAddress',
       'CustomerCreditLimit', 'CustomerEmail', 'CustomerPhone', 'Status',
       'OrderDate', 'OrderItemQuantity', 'PerUnitPrice', 'TotalItemQuantity'],
      dtype='object')

In [8]:
dt.shape

(400, 28)

In [10]:
dt.dtypes

RegionName              object
CountryName             object
State                   object
City                    object
PostalCode              object
WarehouseAddress        object
WarehouseName           object
EmployeeName            object
EmployeeEmail           object
EmployeePhone            int64
EmployeeHireDate        object
EmployeeJobTitle        object
CategoryName            object
ProductName             object
ProductDescription      object
ProductStandardCost    float64
Profit                 float64
ProductListPrice       float64
CustomerName            object
CustomerAddress         object
CustomerCreditLimit      int64
CustomerEmail           object
CustomerPhone            int64
Status                  object
OrderDate               object
OrderItemQuantity        int64
PerUnitPrice           float64
TotalItemQuantity        int64
dtype: object

In [11]:
dt.columns.values

array(['RegionName', 'CountryName', 'State', 'City', 'PostalCode',
       'WarehouseAddress', 'WarehouseName', 'EmployeeName',
       'EmployeeEmail', 'EmployeePhone', 'EmployeeHireDate',
       'EmployeeJobTitle', 'CategoryName', 'ProductName',
       'ProductDescription', 'ProductStandardCost', 'Profit',
       'ProductListPrice', 'CustomerName', 'CustomerAddress',
       'CustomerCreditLimit', 'CustomerEmail', 'CustomerPhone', 'Status',
       'OrderDate', 'OrderItemQuantity', 'PerUnitPrice',
       'TotalItemQuantity'], dtype=object)

In [12]:
dt.describe(include='all')

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
count,400,400,400,400,400,400,400,400,400,4.000000e+02,...,400,400,400.000000,400,4.000000e+02,400,400,400.000000,400.000000,400.000000
unique,5,6,9,9,9,9,9,400,400,NaN,...,400,396,NaN,400,NaN,3,75,NaN,NaN,NaN
top,North America,United States of America,New Jersey,South Brunswick,50090,2007 Zagora St,New Jersy,Summer Payne,summer.payne@example.com,NaN,...,Flor Stone,"1592 Silverado St, Bangalore, Kar",NaN,flor.stone@raytheon.com,NaN,Shipped,10-Feb-17,NaN,NaN,NaN
freq,177,178,45,45,45,45,45,1,1,NaN,...,1,2,NaN,1,NaN,183,21,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300551e+12,...,NaN,NaN,2033.617500,NaN,6.422348e+10,NaN,NaN,89.240000,839.253100,123.695000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.546655e+12,...,NaN,NaN,1534.488065,NaN,1.871854e+11,NaN,NaN,34.064253,706.449917,67.438876
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.856490e+07,...,NaN,NaN,100.000000,NaN,4.538500e+04,NaN,NaN,32.000000,16.990000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.716165e+08,...,NaN,NaN,700.000000,NaN,3.545837e+09,NaN,NaN,61.000000,352.982500,92.750000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168870e+10,...,NaN,NaN,1500.000000,NaN,9.800588e+09,NaN,NaN,85.500000,686.990000,123.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.651186e+10,...,NaN,NaN,3500.000000,NaN,1.812122e+10,NaN,NaN,118.000000,1055.990000,178.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.144164e+13,...,NaN,NaN,5000.000000,NaN,9.138593e+11,NaN,NaN,157.000000,4139.000000,353.000000

In [34]:
dt['City']

0      Southlake
1      Southlake
2      Southlake
3      Southlake
4      Southlake
         ...
395       Bombay
396       Bombay
397       Bombay
398       Bombay
399       Bombay
Name: City, Length: 400, dtype: object

In [24]:
dt['State']

0            Texas
1            Texas
2            Texas
3            Texas
4            Texas
          ...
395    Maharashtra
396    Maharashtra
397    Maharashtra
398    Maharashtra
399    Maharashtra
Name: State, Length: 400, dtype: object

In [17]:
dt.sort_index(axis=1,ascending=False)

,WarehouseName,WarehouseAddress,TotalItemQuantity,Status,State,RegionName,Profit,ProductStandardCost,ProductName,ProductListPrice,...,EmployeeHireDate,EmployeeEmail,CustomerPhone,CustomerName,CustomerEmail,CustomerCreditLimit,CustomerAddress,CountryName,City,CategoryName
0,Southlake Texas,2014 Jabberwocky Rd,122,Shipped,Texas,South America,542.95,2867.51,Intel Xeon E5-2699 V3 (OEM/Tray),3410.46,...,07-Jun-16,summer.payne@example.com,13171234104,Flor Stone,flor.stone@raytheon.com,5000,2904 S Salina St,United States of America,Southlake,CPU
1,Southlake Texas,2014 Jabberwocky Rd,123,Shipped,Texas,South America,448.71,2326.27,Intel Xeon E5-2697 V3,2774.98,...,07-Jun-16,rose.stephens@example.com,13171234111,Lavera Emerson,lavera.emerson@plainsallamerican.com,5000,"5344 Haverford Ave, Philadelphia",United States of America,Southlake,CPU
2,Southlake Texas,2014 Jabberwocky Rd,123,Canceled,Texas,South America,625.54,2035.18,Intel Xeon E5-2698 V3 (OEM/Tray),2660.72,...,17-Sep-16,annabelle.dunn@example.com,18121234115,Fern Head,fern.head@usfoods.com,1200,"1795 Wu Meng, Muang Chonburi",United States of America,Southlake,CPU
3,Southlake Texas,2014 Jabberwocky Rd,124,Pending,Texas,South America,410.59,2144.40,Intel Xeon E5-2697 V4,2554.99,...,17-Jun-16,tommy.bailey@example.com,13171234126,Shyla Ortiz,shyla.ortiz@abbvie.com,2400,"Walpurgisstr 69, Munich",United States of America,Southlake,CPU
4,Southlake Texas,2014 Jabberwocky Rd,125,Shipped,Texas,South America,489.58,2012.11,Intel Xeon E5-2685 V3 (OEM/Tray),2501.69,...,13-Jan-16,blake.cooper@example.com,18121214129,Jeni Levy,jeni.levy@centene.com,1200,"Via Frenzy 6903, Roma",United States of America,Southlake,CPU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Bombay,1298 Vileparle (E),107,Shipped,Maharashtra,Asia,185.63,688.35,MSI GTX 1080 TI LIGHTNING Z,873.98,...,13-Aug-12,VeeraAbdellah@gmail.com,787879874,Vega Vincent,VegaVincent@gmail.com,4900,4284 Dorigo Ln,India,Bombay,Video Card
396,Bombay,1298 Vileparle (E),118,Pending,Maharashtra,Asia,168.84,696.14,Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING,864.98,...,01-Aug-11,VegaVincent@gmail.com,785811219,Villanueva Noah,VillanuevaNoah@gmail.com,5000,6794 Lake Dr E,India,Bombay,Video Card
397,Bombay,1298 Vileparle (E),118,Canceled,Maharashtra,Asia,121.04,742.94,MSI GTX 1080 TI LIGHTNING X,863.98,...,11-Sep-08,VillanuevaNoah@gmail.com,789243757,Voldemort Lord,VoldemortLord@gmail.com,4000,31 Douglas Blvd #950,India,Bombay,Video Card
398,Bombay,1298 Vileparle (E),95,Shipped,Maharashtra,Asia,147.64,702.35,Zotac ZT-P10810A-10P,849.99,...,02-Feb-10,ZimaColleen@gmail.com,964940981,Lucy Cechtelar,LucyCechtelar@gmail.com,3000,44 W 4th St,India,Bombay,Video Card
399,Bombay,1298 Vileparle (E),92,Canceled,Maharashtra,Asia,96.81,753.18,MSI GAMING,849.99,...,15-May-00,VolkCollen@gmail.com,567897474,John Snow,JohnSnow@gmail.com,2000,11279 Loytan St,India,Bombay,Video Card

In [19]:
dt.sort_values(by="City")

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
355,Asia,China,Beijing,Beijing,190518,40-5-12 Laogianggen,Beijing,Salter Jason,SalterJason@gmail.com,19128517329,...,Sander Kamrin,775 W 17th St,100,SanderKamrin@gmail.com,41334269188,Shipped,21-Jun-16,82,608.95,214
335,Asia,China,Beijing,Beijing,190518,40-5-12 Laogianggen,Beijing,Rarrick Quinn,RarrickQuinn@gmail.com,18184600733,...,Ren Kylo,1 State Route 27,1600,RenKylo@gmail.com,8792715950,Shipped,14-Jun-16,43,16.99,195
336,Asia,China,Beijing,Beijing,190518,40-5-12 Laogianggen,Beijing,Ren Kylo,RenKylo@gmail.com,16334387490,...,Rhoads Thomas,394 Manchester Blvd,3600,RhoadsThomas@gmail.com,8797879852,Canceled,13-Jun-16,74,731.99,196
337,Asia,China,Beijing,Beijing,190518,40-5-12 Laogianggen,Beijing,Rhoads Thomas,RhoadsThomas@gmail.com,11391279729,...,Rivera Haley,6 S 33rd St,2000,RiveraHaley@gmail.com,8795869755,Pending,17-Mar-17,85,479.99,197
338,Asia,China,Beijing,Beijing,190518,40-5-12 Laogianggen,Beijing,Rivera Haley,RiveraHaley@gmail.com,12700933298,...,Roberson May,6 Greenleaf Ave,3000,RobersonMay@gmail.com,8793172000,Canceled,21-Feb-17,133,645.99,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,North America,Canada,Ontario,Toronto,M5V 2L7,147 Spadina Ave,Toronto,Ferguson Susan,FergusonSusan@gmail.com,681743994,...,Colette Estrada,"3324 N Oakland Ave, Milwaukee, WI",1200,colette.estrada@eastman.com,9887288938,Canceled,09-Mar-17,52,525.99,175
196,North America,Canada,Ontario,Toronto,M5V 2L7,147 Spadina Ave,Toronto,Fernandes Nilson,FernandesNilson@gmail.com,681014415,...,Maximo Ortega,"1501 Lowry Ave N, Minneapolis, MN",1200,maximo.ortega@macysinc.com,5997439296,Pending,07-Mar-17,87,660.00,175
197,North America,Canada,Ontario,Toronto,M5V 2L7,147 Spadina Ave,Toronto,Fett Boba,FettBoba@gmail.com,681513792,...,Kina Larsen,"4200 Yosemite Ave S, Minneapolis, MN",1200,kina.larsen@enterpriseproducts.com,6216318122,Shipped,12-Jun-16,90,1431.99,176
189,North America,Canada,Ontario,Toronto,M5V 2L7,147 Spadina Ave,Toronto,Erilus Angela,ErilusAngela@gmail.com,21630070620,...,Kristle Cain,"5235 N Ironwood Ln, Milwaukee, WI",700,kristle.cain@exeloncorp.com,7876554312,Pending,07-Sep-16,146,1449.98,133
199,North America,Canada,Ontario,Toronto,M5V 2L7,147 Spadina Ave,Toronto,Fitzpatrick Michael,FitzpatrickMichael@gmail.com,681619776,...,Collene Newton,"314 W Superior St # 1015, Duluth, MN",1200,collene.newton@sonicautomotive.com,8133383946,Shipped,05-Sep-17,133,343.99,209

In [20]:
dt.iloc[5]

RegionName                                South America
CountryName                    United States of America
State                                             Texas
City                                          Southlake
PostalCode                                        26192
WarehouseAddress                    2014 Jabberwocky Rd
WarehouseName                           Southlake Texas
EmployeeName                                Jude Rivera
EmployeeEmail                   jude.rivera@example.com
EmployeePhone                                5151234568
EmployeeHireDate                              21-Sep-16
EmployeeJobTitle          Administration Vice President
CategoryName                                        CPU
ProductName            Intel Xeon E5-2695 V3 (OEM/Tray)
ProductDescription                Speed:2.3GHz,Cores:14
ProductStandardCost                             1925.13
Profit                                           506.82
ProductListPrice                                2431.95
CustomerName                            Matthias Hannah
CustomerAddress               Via Luminosa 162, Firenze
CustomerCreditLimit                                 500
CustomerEmail                   matthias.hannah@chs.net
CustomerPhone                               12887910191
Status                                          Shipped
OrderDate                                     15-Aug-17
OrderItemQuantity                                   148
PerUnitPrice                                     549.59
TotalItemQuantity                                   125
Name: 5, dtype: object

In [27]:
dt[0:3]

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123

In [29]:
dt.loc[:,["State","City"]]

           State       City
0          Texas  Southlake
1          Texas  Southlake
2          Texas  Southlake
3          Texas  Southlake
4          Texas  Southlake
..           ...        ...
395  Maharashtra     Bombay
396  Maharashtra     Bombay
397  Maharashtra     Bombay
398  Maharashtra     Bombay
399  Maharashtra     Bombay

[400 rows x 2 columns]

In [31]:
dt.iloc[:4,:]

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Tommy Bailey,tommy.bailey@example.com,5151234567,...,Shyla Ortiz,"Walpurgisstr 69, Munich",2400,shyla.ortiz@abbvie.com,13171234126,Pending,15-Oct-17,128,849.99,124

In [32]:
dt.iloc[:,:4]

        RegionName               CountryName        State       City
0    South America  United States of America        Texas  Southlake
1    South America  United States of America        Texas  Southlake
2    South America  United States of America        Texas  Southlake
3    South America  United States of America        Texas  Southlake
4    South America  United States of America        Texas  Southlake
..             ...                       ...          ...        ...
395           Asia                     India  Maharashtra     Bombay
396           Asia                     India  Maharashtra     Bombay
397           Asia                     India  Maharashtra     Bombay
398           Asia                     India  Maharashtra     Bombay
399           Asia                     India  Maharashtra     Bombay

[400 rows x 4 columns]

In [33]:
dt.iloc[:5,:4]

      RegionName               CountryName  State       City
0  South America  United States of America  Texas  Southlake
1  South America  United States of America  Texas  Southlake
2  South America  United States of America  Texas  Southlake
3  South America  United States of America  Texas  Southlake
4  South America  United States of America  Texas  Southlake